--exclude ./C2S.xcodeproj
--exclude ./GeneratedFiles
--exclude ./SupportingFiles
--exclude ./Tests
--exclude ./Vendor

--header "Copyright © 2022 Wells Consulting LLC. All rights reserved."

--allman false
--binarygrouping none
--commas always
--decimalgrouping none
--elseposition same-line
--empty void
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--funcattributes prev-line
--hexgrouping none
--hexliteralcase lowercase
--ifdef outdent
--indent 4
--indentcase false
--linebreaks lf
--octalgrouping none
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--self remove
--semicolons inline
--trimwhitespace always
--typeattributes prev-line
#--varattributes same-line
--wraparguments beforefirst
--wrapcollections beforefirst
--wrapconditions beforefirst
--wrapparameters beforefirst

--disable andOperator
--disable redundantVoidReturnType
--disable unusedArguments

--enable anyObjectProtocol
--enable assertionFailures
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable emptyBraces
--enable initCoderUnavailable
--enable isEmpty
--enable leadingDelimiters
--enable modifierOrder
--enable preferDouble
--enable preferKeyPath
--enable redundantBackticks
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable sortedImports
--enable sortedSwitchCases
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable todos
--enable trailingClosures
--enable wrapMultilineStatementBraces
